<div class="header">
  <h2>Your results</h2>
  <p id="btn-home"><%= link_to "Home", root_path %></p>
</div>
<div class="box-content">
  <p><%= @result.html_safe %></p>
  <p>Your score: <%= @score %></p>
  <p class="btn-dark"><%= link_to "Play again", new_path %></p>
</div>
